.btn-block {
  width: 100%;
}
.signup {
  overflow: hidden;
}
.signin {
  overflow: hidden;
}

.createNew {
  margin-left: 10px;
}

p {
  margin-bottom: 0;
}
a {
  text-decoration: none !important;
}

.onBack {
  padding-left: 7px;
  padding-top: 6px;
}

.onBackIcon {
  position: absolute;
  margin-left: 20px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background: #0d6efd;
  border-radius: 50%;
}

.onProfileBackIcon {
  position: absolute;
  margin-left: -70px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background: #0d6efd;
  border-radius: 50%;
}

/* .spinner {
  animation: spin infinite 5s linear; */

/*You can increase or decrease the timer (5s) to 
   increase or decrease the speed of the spinner*/
/* }

@keyframes spin {
from {
  transform: rotate(0deg);
}
to {
  transform: rotate(360deg);
}
} */

.jobReq {
  border: 1px solid skyblue;
  padding: 10px;
  border-radius: 5px;
}
